body {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.6;
}

.book .book-summary {
  background-color: #f7f7f7;
}

.book .book-header {
  background: #4c72b0;
  color: white;
}

h1, h2, h3, h4 {
  color: #4c72b0;
}
body, p, li {
    color: #333 !important;
    font-size: 16px;
    line-height: 1.6;
}
